<div class="ui container middle aligned" style="text-align: left">	
	<div class="ui raised very padded segment" style="margin-top: 100px">
		<%= image_tag 'updlogo-256x256.png', class: 'ui centered small image' %>
		<h1 class="ui center aligned header">Weights Survey for Usability's Subcharacteristics</h1>
		<br>

		<p>Dear Sir/Madam,</p>
		<br>
		<br>
										
		<p style="margin-left: 70px; margin-right: 70px">Greetings! We are students from the Service, Science, and Software Engineering (S3) laboratory in the Department of Computer Science conducting our thesis for the University Human Resource Information System (UHRIS). With that, we are asking for your help in evaluating the system by answering this questionnaire.
		<br>
		<br>
		This questionnaire has been designed for weighing software quality sub-characteristics of the Usability characteristic of an HRIS. In our research, we have identified eight (8) quality sub-characteristics under the Usability characteristic: Appropriate recognizability, Learnability, Operability, User error protection, User interface aesthetics, Accessibility, Perceived Usefulness and Perceived Ease of Use. Your opinion helps us determine the degree of importance of each sub-characteristic.
		<br>
		<br>
		The goal of the questionnaire is to obtain the strength of preference of quality factors using Mutual Comparison Method, in which each quality factor is compared to each other.		
		<br>
		<br>
		Thank you very much for your attention and time.</p>
		<br>
		<br>
								

		<p>Regards,</p>
		<br>

		<strong>Treacy Evangelista</strong>
		<p>S3 Student</p>
		<br>

		<strong>Cyan Villarin</strong>
		<p>S3 Student</p>
		<br>

		<strong>Roy Vincent Canseco</strong>
		<p>S3 Thesis Adviser</p>
	</div>
	<div class="ui grid center aligned">
		<div class="three column row">
			<div class="column"></div>
			<div class="column">
				<br>
				<%= link_to 'Take the Survey', new_survey_path, class: "positive ui button" %>
			</div>
			<div class="column"></div>
		</div>
	</div>
</div>
